  <!--Start SearchBar-->
<section class="SearchBar">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-12">
                <div class="SearchTextContainer">
                    <input type="search" name="name" value="" placeholder="Search" />
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="col-sm-8 col-12 flex-center">
                <div class="SearchSortingContainer">
                    <b>Sort By:</b>
                    <span class="SortItem active">Most Popular</span>
                    <span>|</span>
                    <span class="SortItem">Delivery Time</span>
                    <span>|</span>
                    <span class="SortItem">Rating</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End SearchBar-->
<!--Start Foods-->
<section class="Foods">
    <div class="container">
        <h3 class="Title">Resaults : Chicken</h3>
        <div class="FoodsList">
            <div class="FoodsItem">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-12 text-center">
                        <a href=  "/Home/Details">  <img src="~/side/imgs/food1.png" class="img-responsive" /></a>
                    </div>
                    <div class="col-md-9 col-sm-12 col-12">
                        <div class="food-form">
                            <h4 class="food-title"><a href="/Home/Details">Molokheya & Chicken meal</a></h4>
                            <p><a href="/Home/UserFoods">Chief Mohamed G.</a></p>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <div>
                                        <span>
                                            <i class="fas fa-map-marked-alt"></i>
                                            15 mins delivery
                                        </span>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-1">
                                    <div>
                                        <span>|</span>
                                    </div>
                                </div>
                                <div class="col-5 col-sm-4">
                                    <div>
                                        <span>
                                            <i class="fas fa-map-marked-alt"></i>
                                            15 mins delivery
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div>
                                        <a href="/Home/Details">Order Now</a> &nbsp;
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="FoodsItem">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-12 text-center">
                        <a href="/Home/Details">  <img src="~/side/imgs/food1.png" class="img-responsive" /></a>
                    </div>
                    <div class="col-md-9 col-sm-12 col-12">
                        <div class="food-form">
                            <h4 class="food-title"><a href="/Home/Details">Molokheya & Chicken meal</a></h4>
                            <p><a href="/Home/UserFoods">Chief Mohamed G.</a></p>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <div>
                                        <span>
                                            <i class="fas fa-map-marked-alt"></i>
                                            15 mins delivery
                                        </span>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-1">
                                    <div>
                                        <span>|</span>
                                    </div>
                                </div>
                                <div class="col-5 col-sm-4">
                                    <div>
                                        <span>
                                            <i class="fas fa-map-marked-alt"></i>
                                            15 mins delivery
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div>
                                        <a href="/Home/Details">Order Now</a> &nbsp;
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="FoodsItem">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-12 text-center">
                        <a href="/Home/Details">  <img src="~/side/imgs/food1.png" class="img-responsive" /></a>
                    </div>
                    <div class="col-md-9 col-sm-12 col-12">
                        <div class="food-form">
                            <h4 class="food-title"><a href="/Home/Details">Molokheya & Chicken meal</a></h4>
                            <p><a href="/Home/UserFoods">Chief Mohamed G.</a></p>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <div>
                                        <span>
                                            <i class="fas fa-map-marked-alt"></i>
                                            15 mins delivery
                                        </span>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-1">
                                    <div>
                                        <span>|</span>
                                    </div>
                                </div>
                                <div class="col-5 col-sm-4">
                                    <div>
                                        <span>
                                            <i class="fas fa-map-marked-alt"></i>
                                            15 mins delivery
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div>
                                        <a href="/Home/Details">Order Now</a> &nbsp;
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                   <div class="FoodsItem">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-12 text-center">
                        <a href=  "/Home/Details">  <img src="~/side/imgs/food1.png" class="img-responsive" /></a>
                    </div>
                    <div class="col-md-9 col-sm-12 col-12">
                        <div class="food-form">
                            <h4 class="food-title"><a href="/Home/Details">Molokheya & Chicken meal</a></h4>
                            <p><a href="/Home/UserFoods">Chief Mohamed G.</a></p>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <div>
                                        <span>
                                            <i class="fas fa-map-marked-alt"></i>
                                            15 mins delivery
                                        </span>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-1">
                                    <div>
                                        <span>|</span>
                                    </div>
                                </div>
                                <div class="col-5 col-sm-4">
                                    <div>
                                        <span>
                                            <i class="fas fa-map-marked-alt"></i>
                                            15 mins delivery
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div>
                                        <a href="/Home/Details">Order Now</a> &nbsp;
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="FoodsItem">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-12 text-center">
                        <a href="/Home/Details">  <img src="~/side/imgs/food1.png" class="img-responsive" /></a>
                    </div>
                    <div class="col-md-9 col-sm-12 col-12">
                        <div class="food-form">
                            <h4 class="food-title"><a href="/Home/Details">Molokheya & Chicken meal</a></h4>
                            <p><a href="/Home/UserFoods">Chief Mohamed G.</a></p>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <div>
                                        <span>
                                            <i class="fas fa-map-marked-alt"></i>
                                            15 mins delivery
                                        </span>
                                    </div>
                                </div>
                                <div class="col-2 col-sm-1">
                                    <div>
                                        <span>|</span>
                                    </div>
                                </div>
                                <div class="col-5 col-sm-4">
                                    <div>
                                        <span>
                                            <i class="fas fa-map-marked-alt"></i>
                                            15 mins delivery
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-3">
                                    <div>
                                        <a href="/Home/Details">Order Now</a> &nbsp;
                                        <i class="fas fa-angle-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="FoodsPageing">
            <button class="PageBack"><i class="fas fa-angle-left"></i></button>
            <ul>
                <li><button class="active">1</button></li>
                <li><button>2</button></li>
                <li><button>3</button></li>
                <li><span>...</span></li>
            </ul>
            <button class="PageNext"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>
</section>
<!--End Foods-->